:root {
  --anchocel: 20px;
  --bordecel: 1px;
}

@font-face {
  font-family: 'ScreenMatrix';
  src: url('../font/ScreenMatrix.ttf') format('truetype');
}

body {
  margin: 2em auto;
  max-width: 50em;
  background: #fff url(../img/mosaico-bg.png) center/cover no-repeat;
}

h1 {
  font-family: 'ScreenMatrix', sans-serif;
  font-size: 3.5em;
  line-height: 0.75em;
  color: olive;
  margin-bottom: 0;
}

#logo {
  width: 0.75em;
  vertical-align: baseline;
  margin-right: 0.25em;
}

small {
  font-size: 0.75em;
}

header,
footer {
  text-align: center;
}

nav {
  margin-top: 1em;
}

table {
  width: auto;
  margin: 1.5em auto;
  border: calc(var(--bordecel) * 2) solid darkgray;
  border-collapse: collapse;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

td {
  width: var(--anchocel);
  height: var(--anchocel);
  padding: 0;
  border: var(--bordecel) solid darkgray;
  cursor: crosshair;
}

button {
  width:  35px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid darkgray;
  cursor: pointer;
}

.seleccion {
  box-shadow: inset 2px 2px 5px darkslategray;
}

.negro {
  background-color: #000;
}

.azul {
  background-color: #00f;
}

.rojo {
  background-color: #f00;
}

.magen {
  background-color: #f0f;
}

.verde {
  background-color: #0f0;
}

.cian {
  background-color: #0ff;
}

.amari {
  background-color: #ff0;
}

.blanc {
  background-color: #fff;
}
